In [1]:
#import dependencies
import pandas

In [2]:
csv_path = "../resources/shopping_data.csv"

In [3]:
#create df from csv
shopping_df = pandas.read_csv(csv_path)

In [4]:
#inspect df
shopping_df.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [5]:
#inspect columns
shopping_df.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [9]:
#edit column names
shopping_df.columns = [i.lower().replace(" ","_").replace("(","").replace(")","") for i in shopping_df.columns]

In [10]:
shopping_df.columns

Index(['customerid', 'card_member', 'age', 'annual_income',
       'spending_score_1-100'],
      dtype='object')

In [11]:
#inspect data types
shopping_df.dtypes

customerid                int64
card_member              object
age                     float64
annual_income             int64
spending_score_1-100    float64
dtype: object

In [14]:
#find null values
shopping_df.isnull().sum()

customerid              0
card_member             2
age                     2
annual_income           0
spending_score_1-100    1
dtype: int64

In [22]:
#find null values through iteration
for i in shopping_df.columns:
    print(f"Column {i}:\nhas {shopping_df[i].isnull().sum()} null values\n")

Column customerid:
has 0 null values

Column card_member:
has 2 null values

Column age:
has 2 null values

Column annual_income:
has 0 null values

Column spending_score_1-100:
has 1 null values

In [23]:
#drop null values
shopping_df.dropna(inplace=True)

In [24]:
shopping_df.isnull().sum()

customerid              0
card_member             0
age                     0
annual_income           0
spending_score_1-100    0
dtype: int64

In [32]:
#identify duplicate values
shopping_df.duplicated().sum()

0

In [27]:
#identify duplicates through iteration
for i in shopping_df.columns:
    print(f"Column {i}:\nhas {shopping_df[i].duplicated().sum()} duplicated values\n")

Column customerid:
has 0 duplicated values

Column card_member:
has 198 duplicated values

Column age:
has 149 duplicated values

Column annual_income:
has 136 duplicated values

Column spending_score_1-100:
has 116 duplicated values

In [37]:
#remove not needed column `customerid`
shopping_df.drop('customerid' ,axis=1,inplace=True)

In [38]:
#inspect df
shopping_df.head()

  card_member   age  annual_income  spending_score_1-100
0         Yes  19.0          15000                  39.0
1         Yes  21.0          15000                  81.0
2          No  20.0          16000                   6.0
3          No  23.0          16000                  77.0
4          No  31.0          17000                  40.0

In [42]:
#using lambda function to create binary values, the pandas `get_dummies` function would also be acceptable
shopping_df["card_member"]  = shopping_df["card_member"].apply(lambda x: 1 if x == "Yes" else 0)

In [43]:
#scale down the annual income column 
shopping_df["annual_income"] = shopping_df["annual_income"] / 1000

In [45]:
#saving cleaned data
shopping_df.to_csv("../resources/shopping_data_cleaned.csv", index=False)

In [46]:
#save as excel file
#saving cleaned data
shopping_df.to_excel("../resources/shopping_data_cleaned_E.xlsx", index=False)